
.label{
-fx-font-family : "Forte";
-fx-text-fill : #000000;
}

.button {
-fx-background-color: #AD6B40;
-fx-font-weight: 600;
-fx-font-size: 17px;
-fx-padding: 0 18px;
-fx-font-family : "Forte";
-fx-text-fill : #000000;
}

.combo-box{
-fx-background-color: #AD6B40;
-fx-font-family : "Forte";
-fx-font-size : 24px;
}

